.test {
    &-hello {
        display: flex;
        height: 200px;
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        line-height: 200px;
        background: green;
    }
}